html {
box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

a:link {
color: pink;
}

a:visited {
color: #ed6fff;
}

body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
background-color: beige;
border: double 0.5em pink;
width: 800px;
margin: 0 auto;
padding: 1em;
text-align: center;
}

ul, ol {
display: table;
margin: 0 auto; 
text-align: left; 
}
